<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: black; color: blanchedalmond;">
    <nav>
        <a href="/"><button >Home</button></a>
        <a href="/cadastrar/alunos/"><button>Cadastrar Alunos</button></a>
        <a href="/lista/alunos/"><button>Lista de Alunos</button></a>
    </nav>
    {% block body%}
    {% endblock body %}
</body>
</html>